#footer-content {
    // background: #3D4853;
    padding: 80px 0;
    position: relative;
    // height: 155vh;
    overflow: hidden;
    .text_left {
        position: absolute;
        width: 650px;
        z-index: 9999;
        top: 190px;
        left: auto;
        p {
            font-size: 64px;
            line-height: 77px;
            color: #fff;
        }
        button {
            text-transform: uppercase;
            font-size: 14px;
            line-height: 14px;
            letter-spacing: 2.1px;
            color: #3D4853;
            padding: 15px 25px;
            margin-bottom: 80px;
        }
    }
    .card {
        position: relative;
        width: 682px;
        border: none;
        background: none;
        float: right;
        margin-right: 100px;
        .card {
            position: absolute;
            border: none;
            background: none;
            bottom: -60px;
            left: 440px;
            img {
                width: 300px;
            }
        }
    }
}


@media screen and  (max-width: 1400px) {
    #footer-content {
        .text_left {
            p {
                font-size: 57px;
                line-height: 70px;
            }
        }
        .card {
            margin-right: 0px;
        }
    }
}
@media screen and (max-width: 992px) {
    #footer-content {
        display: block;
        padding: 30px 0;
        height: 150vh;
        .text_left {
            position: relative;
            width: 100%;
            top: 0;
            left: 0;
            p {
                font-size: 30px;
                line-height: 50px;
            }
            button {
                text-transform: uppercase;
                font-size: 10px;
                line-height: 12px;
                letter-spacing: 1.4px;
                margin-bottom: 20px;
            }
        }
        .card {
            width: 100%;
            margin: 0;
            .card {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    #footer-content {
        height: 130vh;
    }
}