#navbar {
    .navbar_logo {
        span {
            font-size: 24px;
            color: white;
            letter-spacing: 4px;
            text-transform: uppercase;
            margin: 0 15px;
        }
    }
    .navbar_button {
        font-size: 10px;
        letter-spacing: 1.6px;
        line-height: 11px;
        color: #3D4853;
        background-color: white;
    }
    .fas {
        color: white !important;
    }
}

@media screen and (max-width: 992px) {
    #navbar {
        .nav{
            position: fixed !important;
            display: block !important;
            text-align: center;
            background-color: white;
            width: 100%;
            top: 0;
            right: 120px;
            padding: 30px 0 !important;
            transition: all .5s ease-in-out;
            left: 0;
            z-index: 9999;
            .nav-item {
                margin-left: auto;
                margin-right: auto;
                .nav-link {
                    color: black !important;
                }
            }
            .dropdown {
                .nav-link {
                    color: black !important;
                }
                .dropdown-menu {
                    transform: translate3d(0px, 0px, 0px) !important;
                    top: 40px !important;
                    left: 44% !important;
                }
            }
        }
        .nav1 {
            transform: translateX(-100%);
        }
        .nav2 {
            transform: translateX(0);
        }
        .fa-times {
            position: fixed !important;
            top: 30px;
            right: 50px;
            color: black !important;
            z-index: 9999;
        }
    }
    
}

@media screen and (max-width: 596px) {
    #navbar {
        .nav {
            .dropdown {
                .dropdown-menu {
                    transform: translate3d(0px, 0px, 0px) !important;
                    top: 40px !important;
                    left: 30% !important;
                }
            }
        }
    }
}